name: Deploy to AWS Elastic Beanstalk

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Install dependencies
        run: npm i

      - name: Build Project
        run: npm run build

      - name: Remove node_modules before zip
        run: rm -rf node_modules

      - name: Zip Artifacts For Deployment
        run: zip -r deploy.zip .

      - name: Upload to S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
        run: aws s3 cp deploy.zip s3://nestjs-mybucket-3/deploy.zip

      - name: Deploy to AWS Elastic Beanstalk
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
        run: |
          aws elasticbeanstalk create-application-version \
            --application-name nestjs-myapp \
            --version-label ${{ github.sha }} \
            --source-bundle S3Bucket=nestjs-mybucket-3,S3Key=deploy.zip
          aws elasticbeanstalk update-environment \
            --application-name nestjs-myapp \
            --environment-name nestjs-myapp-env \
            --version-label ${{ github.sha }}
